* {
    padding: 0px;
    margin: 0px;
}

#big__box {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}

#hd {
    width: 100vw;
    height: 10vh;
    background-color:darkolivegreen;
}
#mn {
    width: 100vw;
    height: 80vh;
    background-color:cornflowerblue;
}
#ft {
    width: 100vw;
    height: 10vh;
    background-color:teal;
}
